.about {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.35rem;

  .met-desc {
    h3 {
      width: 50ch;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      line-height: 1.2;
    }
    p:first-of-type {
      margin-bottom: 0.5rem;
    }
  }

  .met-logo {
    img {
      width: 268px;
    }
  }
}
