.card {
  display: flex;
  flex: 1 1 520px;
  // background-color: turquoise;
  gap: 1.5rem;
  align-items: center;
  padding-inline: 1rem;
  padding-block: 0.75rem;
  box-shadow: 0px 4px 21px 3px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  .card-image {
    img {
      width: 200px;
    }
  }

  .card-description {
    h2 {
      font-size: 1.35rem;
      font-weight: 700;
      max-width: 28ch;
      margin-bottom: 0.75rem;
    }

    p:first-of-type {
      color: #5c3d2e;
      font-size: 1.15rem;
      margin-bottom: 0.35rem;
    }

    a {
      text-decoration: none;
      display: inline-block;
      background-color: #e0c097;
      padding: 0.35rem 0.5rem;
      margin-top: 0.75rem;
      border-radius: 4px;
      color: white;
    }
  }
}
