.nav {
  background-color: #5c3d2e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1.15rem;
  font-family: 'Cinzel Decorative', serif;
  gap: 4rem;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  a {
    font-size: 1.5rem;
    color: #e0c097;
    font-weight: 700;
    text-decoration: none;
    padding-bottom: 0.25rem;
    transition: border-bottom 0.1s ease;

    &:hover {
      border-bottom: 2px solid #e0c097;
    }

    &.active {
      border-bottom: 2px solid #e0c097;
    }
  }

  img {
    width: 320px;
  }
}
