.gallery {
  flex: 1;

  h1 {
    font-family: 'Cinzel Decorative', serif;
    font-size: 2rem;
    font-weight: 700;
    color: #e0c097;
    border-bottom: 2px solid #e0c097;
    padding-bottom: 0.75rem;
    margin-top: 4rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }
}
